[Desktop Entry]
Encoding=UTF-8
Name=Link to Convert STEP files to STL files | makexyz.com
Type=Link
URL=https://www.makexyz.com/convert/step-to-stl
Icon=text-html
