[Desktop Entry]
Encoding=UTF-8
Name=Link to GrabCAD Community Members | Engineers & Designers
Type=Link
URL=https://grabcad.com/dashboard
Icon=text-html
